{% extends "base.html" %}
{% block content %}
<div class="main-panel">
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header ">
				<h1>Register</h1>
              </div>
              <div class="card-body ">
				<div class="row" style="padding-left:20px; padding-right:20px;">
					<form class="form-inline md-form mr-auto mb-4">
						
					</form>
				</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!--end -->
	{% endblock %}